* {
    font-family: 'PT Serif', serif;
}
    
    /************ GENERAL **************/

body {
    background-color: black;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    width: 100vw;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    color: white;
    opacity: 0.7;
}

    /************ HEADER **************/

.bg-dark {
    background-color: black !important;
}

nav {
    position: fixed !important;
    top: 0;
    z-index: 999;
    width: 100vw;
}
.logo{
    width: 10rem;
    background-color: whitesmoke;
}

.logo:hover, .dropdown-item:hover {
    background-color: red;
}

.navbar-nav {
    margin: auto;
}
.nav-link {
    color: white !important;
    font-size: 2rem;
    margin: 2rem;
    font-weight: bold;
}

.nav-link:hover {
    color: rgb(255, 0, 0) !important;
}
.dropdown-menu {
    background-color: black;
}

.dropdown-item {
    color: white;
    font-size: 2rem;
    margin: 0.5rem;
}

.dropdown-divider {
    color: red;
}

.form-control {
    background-color: rgb(207, 207, 207);
    width: 20rem;
    height: 4rem;
    margin-right: 10rem;
    border: solid 1px red;
    box-shadow: 2px 3px 4px red;
    font-size: 1.5rem;
    transition: all 1s;
}

.form-control::placeholder {
    color: black;
    font-weight: bold;
}
.form-control:hover, .form-control:focus {
    background-color: red;
    color: black;
    border: solid 1px black;
    box-shadow: 2px 3px 4px white;
    font-size: 1.7rem;
    font-weight: bold;
}

.btn-outline-success {
    width: 8rem;
    color: black;
    font-size: 1.7rem;
    text-align: center;
    border: solid 1px red;
    background-color: white;
    font-weight: bold;
    box-shadow: 2px 3px 4px red;
    margin-right: 2rem;
}
.btn-outline-success:hover {
    background-color: red;
    color: black;
    border: solid 1px black;
    box-shadow: 2px 3px 4px white;
}

    /************ BANNER **************/

.banner {
    position: relative;
    width: 100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(82, 82, 82, 0.24);
}

.banner__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/fondo.png);
    background-size: cover;
}

.banner__content {
    z-index: 888;
    width: 100%;
}

h1 {
    font-size: 4rem;
    letter-spacing: 2rem;
    font-weight: bold;
    font-family: 'PT Serif', serif;
    color: white;
    margin-left: 2rem;
    flex-wrap: wrap;
}

.banner__media-icons {
    z-index: 888;
    position: absolute;
    right: 5rem;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
    color: white;
}
.fab, .fas {
    font-size: 3rem;
    margin-bottom: 5rem;
    color: red;
}
@media (min-width:568px) and (max-width:768px) {
    h1 {
        font-size: 3rem;
    }
}
@media (min-width:300px) and (max-width:568px) {
    h1 {
        font-size: 3rem;
        letter-spacing: 0;
    }
}

    /************ TIENDA **************/

.tienda {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.h3-tienda {
    display: grid;
    background-color: black;
    color: white;
    margin-bottom: 0;
}
h3 {
    font-size: 5rem;
    margin: auto;
    margin-top: 2rem;
}

h4, h5 {
    text-align: center;
    font-weight: bold;
    font-size: 1.7rem;
    margin-top: 1rem;
}

.tienda {
    justify-content: center;
    align-items: center;
}
.productos {
    margin: 4rem;
    padding: 2rem;
    background-color: rgb(187, 185, 185);
    border-radius: 2rem;
}
.producto {
    border: solid 0.2rem black;
    border-radius: 2rem;
}

.button-tienda {
    display: flex;
    background-color: black;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid white;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 2rem;
    transition: all 800ms;
}

.button-tienda:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}


    /************ SOBRE NOSOTROS **************/

.mapa {
    margin: 2rem;
    border-radius: 2rem;
    box-shadow: 12px 11px 10px black;
}

.mapa__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/fondo.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: right center;
    padding: 50px 0;
}

.mapa__wrapper--contenedor1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.mapa_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa__wrapper--contenedor3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 14rem;
    color: #fff;
    text-align: center;
    flex-wrap: wrap;
}

.h22 {
    font-size: 4rem;
    padding-bottom: 3rem;
    font-weight: bold;
    color: white;
}

.divisor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 0.2rem;
    background-color: white;
}

.h2-sn {
    color: white;
    font-size: 5rem;
    margin: 2rem;
}

.subcontenedor2__p {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

@media (min-width:300px) and (max-width:568px) {
    .h2-sn {
        font-size: 3rem;
        margin: 1rem;
    }
    .w-50 {
        width: 80% !important;
    }
}

@media (min-width:300px) and (max-width:900px) {
    .mapa__wrapper--contenedor3 {
        flex-wrap: wrap;
    }
    .divisor {
        display: none;
    }

}

    /************ FOOTER **************/

.h3-footer {
    color: white;
    font-size: 4rem;
}

footer {
    background-color: black;
    width: 100%;
}

label {
    font-size: 1.5rem
}

input {
    height: 4rem;
}

input::placeholder {
    font-size: 1.5rem;
}

.mensaje {
    height: 8rem;
}

.button {
    width: 50%;
    display: block;
    height: 37px;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: white;
    text-decoration: none;
    color: #2e2e2e;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 2rem;
}

.button:hover {
    background-color: black;
    color: white;
}
.contacto {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
